
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

<h1>About Economic Pulse</h1>

<p>Economic Pulse is a web application designed to help users understand current economic conditions through key economic indicators.</p>

<h3>Economic Indicators</h3>

<u1>
    <li>Inflation</li>
    <li>Unemployment</li>
    <li>Real GDP</li>
    <li>Federal Funds (Interest) Rate</li>
</u1>
<br>
<p>These indicators are analyzed to generate an Economic Health Score and overall economic assessment.</p>

<h3>Risk Profiles</h3>

<u1>
    <li>Conservative</li>
    <li>Moderate</li>
    <li>Aggressive</li>
</u1>
<br>
<p>Based on your selected risk profile, the application provides customized investor guidance.</p>


{% endblock %}


Users select a risk tolerance profile:

• Conservative.
• Moderate.
• Aggressive.
The application then provides personalized guidance based on both economic conditions and investment preferences.