
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "economic_form" %}

{% block content %}

<h1>Economic Analysis</h1>

<p>Evaluate current economic conditions and receive personalized investor guidance.</p>

<p>
        Select your preferences and generate an analysis
</p>

<form action="/economic/results" method="POST">

<label>
        Risk Tolerance:
</label>

<select
name="risk_tolerance"
class="form-select"
>

<option value="Conservative">
        Conservative
</option>

<option value="Moderate">
        Moderate
</option>

<option value="Aggressive">
        Aggressive
</option>

</select>

<br>

<br>

<button
type="submit"
class="btn btn-primary">
                Generate Analysis
        </button>
</form>

{% endblock %}